In [1]:
# Import dependencies
import pandas as pd
import zipfile

Extract Zipfile in Resources and write the contents to the directory

In [2]:
# Open the zip file
with zipfile.ZipFile('Resources/dot-airline-on-time-performance-statistics.zip', 'r') as zip_ref:
    # Extract all the contents into the extraction directory
    zip_ref.extractall('Resources')

# Airports Data

In [3]:
# Read the airports data into a Pandas DataFrame
airports_df = pd.read_csv('Resources/dot-airline-on-time-performance-statistics/Airports')
airports_df.head()

  Code                                    Description
0  01A         Afognak Lake, AK: Afognak Lake Airport
1  03A  Granite Mountain, AK: Bear Creek Mining Strip
2  04A                       Lik, AK: Lik Mining Camp
3  05A         Little Squaw, AK: Little Squaw Airport
4  06A                     Kizhuyak, AK: Kizhuyak Bay

In [4]:
# function to split Description column on the colon
def splits1(x):
    return pd.Series(x.split(":", 1))

# apply the function
airports_df[['Location', 'Airport_Name']] = airports_df['Description'].apply(splits1)

airports_df.head()

,Code,Description,Location,Airport_Name
0,01A,"Afognak Lake, AK: Afognak Lake Airport","Afognak Lake, AK",Afognak Lake Airport
1,03A,"Granite Mountain, AK: Bear Creek Mining Strip","Granite Mountain, AK",Bear Creek Mining Strip
2,04A,"Lik, AK: Lik Mining Camp","Lik, AK",Lik Mining Camp
3,05A,"Little Squaw, AK: Little Squaw Airport","Little Squaw, AK",Little Squaw Airport
4,06A,"Kizhuyak, AK: Kizhuyak Bay","Kizhuyak, AK",Kizhuyak Bay

In [5]:
# function to split Location column on the comma
def splits2(x):
    return pd.Series(x.split(",", 1))

# apply the function
airports_df[['City', 'State']] = airports_df['Location'].apply(splits2)

airports_df.head()

,Code,Description,Location,Airport_Name,City,State
0,01A,"Afognak Lake, AK: Afognak Lake Airport","Afognak Lake, AK",Afognak Lake Airport,Afognak Lake,AK
1,03A,"Granite Mountain, AK: Bear Creek Mining Strip","Granite Mountain, AK",Bear Creek Mining Strip,Granite Mountain,AK
2,04A,"Lik, AK: Lik Mining Camp","Lik, AK",Lik Mining Camp,Lik,AK
3,05A,"Little Squaw, AK: Little Squaw Airport","Little Squaw, AK",Little Squaw Airport,Little Squaw,AK
4,06A,"Kizhuyak, AK: Kizhuyak Bay","Kizhuyak, AK",Kizhuyak Bay,Kizhuyak,AK

In [6]:
# dropping old columns
airports_df.drop(columns=["Description", "Location"], inplace=True)
airports_df.head()

  Code              Airport_Name              City State
0  01A      Afognak Lake Airport      Afognak Lake    AK
1  03A   Bear Creek Mining Strip  Granite Mountain    AK
2  04A           Lik Mining Camp               Lik    AK
3  05A      Little Squaw Airport      Little Squaw    AK
4  06A              Kizhuyak Bay          Kizhuyak    AK

# Air Carriers Data

In [7]:
# Read Air Carriers Data into pandas dataframe
aircarriers_df = pd.read_csv('Resources/dot-airline-on-time-performance-statistics/Air Carriers')
aircarriers_df.head()

    Code                      Description
0  19031   Mackey International Inc.: MAC
1  19032  Munz Northern Airlines Inc.: XY
2  19033       Cochise Airlines Inc.: COC
3  19034   Golden Gate Airlines Inc.: GSA
4  19035               Aeromech Inc.: RZZ

In [8]:
# function to split Description column on the colon
def splits3(x):
    return pd.Series(x.split(": ", 1))

# apply the function
aircarriers_df[['Company', 'Prefix']] = aircarriers_df['Description'].apply(splits3)

aircarriers_df.head()

    Code                      Description                      Company Prefix
0  19031   Mackey International Inc.: MAC    Mackey International Inc.    MAC
1  19032  Munz Northern Airlines Inc.: XY  Munz Northern Airlines Inc.     XY
2  19033       Cochise Airlines Inc.: COC        Cochise Airlines Inc.    COC
3  19034   Golden Gate Airlines Inc.: GSA    Golden Gate Airlines Inc.    GSA
4  19035               Aeromech Inc.: RZZ                Aeromech Inc.    RZZ

In [9]:
# dropping old columns
aircarriers_df.drop(columns=["Description"], inplace=True)
aircarriers_df.head()

    Code                      Company Prefix
0  19031    Mackey International Inc.    MAC
1  19032  Munz Northern Airlines Inc.     XY
2  19033        Cochise Airlines Inc.    COC
3  19034    Golden Gate Airlines Inc.    GSA
4  19035                Aeromech Inc.    RZZ

# August 2018 Nationwide Data

In [10]:
# Read Airline Performance Nationwide Stats for August 2018
aug2018_df = pd.read_csv('Resources/dot-airline-on-time-performance-statistics/August 2018 Nationwide.csv')
aug2018_df.head()

,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,...,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 28
0,2018-08-01,19805,N956AN,1587,12478,1247805,31703,JFK,14107,1410702,...,0.0,NaN,342.0,377.0,9.0,0.0,35.0,0.0,0.0,NaN
1,2018-08-01,19805,N973AN,1588,14107,1410702,30466,PHX,11618,1161802,...,0.0,NaN,285.0,309.0,0.0,0.0,53.0,0.0,0.0,NaN
2,2018-08-01,19805,N9006,1590,11042,1104205,30647,CLE,11298,1129806,...,0.0,NaN,176.0,177.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-08-01,19805,N870NN,1591,14843,1484306,34819,SJU,11298,1129806,...,0.0,NaN,304.0,303.0,43.0,0.0,0.0,0.0,0.0,NaN
4,2018-08-01,19805,N9023N,1593,10423,1042302,30423,AUS,13303,1330303,...,0.0,NaN,173.0,175.0,NaN,NaN,NaN,NaN,NaN,NaN