In [23]:
# Import dependencies
import pandas as pd
import zipfile
from pathlib import Path

Extract Zipfile in Resources and write the contents to the directory

In [24]:
# Open the zip file
with zipfile.ZipFile('Resources/dot-airline-on-time-performance-statistics.zip', 'r') as zip_ref:
    # Extract all the contents into the extraction directory
    zip_ref.extractall('Resources')

# Airports Data

In [25]:
# Read the airports data into a Pandas DataFrame
airports_df = pd.read_csv('Resources/dot-airline-on-time-performance-statistics/Airports')
airports_df.head()

  Code                                    Description
0  01A         Afognak Lake, AK: Afognak Lake Airport
1  03A  Granite Mountain, AK: Bear Creek Mining Strip
2  04A                       Lik, AK: Lik Mining Camp
3  05A         Little Squaw, AK: Little Squaw Airport
4  06A                     Kizhuyak, AK: Kizhuyak Bay

In [26]:
# function to split Description column on the colon
def splits1(x):
    return pd.Series(x.split(":", 1))

# apply the function
airports_df[['Location', 'Airport_Name']] = airports_df['Description'].apply(splits1)

airports_df.head()

,Code,Description,Location,Airport_Name
0,01A,"Afognak Lake, AK: Afognak Lake Airport","Afognak Lake, AK",Afognak Lake Airport
1,03A,"Granite Mountain, AK: Bear Creek Mining Strip","Granite Mountain, AK",Bear Creek Mining Strip
2,04A,"Lik, AK: Lik Mining Camp","Lik, AK",Lik Mining Camp
3,05A,"Little Squaw, AK: Little Squaw Airport","Little Squaw, AK",Little Squaw Airport
4,06A,"Kizhuyak, AK: Kizhuyak Bay","Kizhuyak, AK",Kizhuyak Bay

In [27]:
# function to split Location column on the comma
def splits2(x):
    return pd.Series(x.split(",", 1))

# apply the function
airports_df[['City', 'State']] = airports_df['Location'].apply(splits2)

airports_df.head()

,Code,Description,Location,Airport_Name,City,State
0,01A,"Afognak Lake, AK: Afognak Lake Airport","Afognak Lake, AK",Afognak Lake Airport,Afognak Lake,AK
1,03A,"Granite Mountain, AK: Bear Creek Mining Strip","Granite Mountain, AK",Bear Creek Mining Strip,Granite Mountain,AK
2,04A,"Lik, AK: Lik Mining Camp","Lik, AK",Lik Mining Camp,Lik,AK
3,05A,"Little Squaw, AK: Little Squaw Airport","Little Squaw, AK",Little Squaw Airport,Little Squaw,AK
4,06A,"Kizhuyak, AK: Kizhuyak Bay","Kizhuyak, AK",Kizhuyak Bay,Kizhuyak,AK

In [28]:
# dropping old columns
airports_df.drop(columns=["Description", "Location"], inplace=True)
airports_df.head()

  Code              Airport_Name              City State
0  01A      Afognak Lake Airport      Afognak Lake    AK
1  03A   Bear Creek Mining Strip  Granite Mountain    AK
2  04A           Lik Mining Camp               Lik    AK
3  05A      Little Squaw Airport      Little Squaw    AK
4  06A              Kizhuyak Bay          Kizhuyak    AK

In [29]:
# fix column name formatting
airports_df.rename(columns={"Code": "code", "Airport_Name": "airport_name", "City": "city", "State": "state"},inplace=True,)

airports_df.head()

  code              airport_name              city state
0  01A      Afognak Lake Airport      Afognak Lake    AK
1  03A   Bear Creek Mining Strip  Granite Mountain    AK
2  04A           Lik Mining Camp               Lik    AK
3  05A      Little Squaw Airport      Little Squaw    AK
4  06A              Kizhuyak Bay          Kizhuyak    AK

In [30]:
#check data types for database entry
airports_df.dtypes

code            object
airport_name    object
city            object
state           object
dtype: object

In [32]:
filepath = Path('./Updated_CSVs/airports.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
airports_df.to_csv(filepath)

# Air Carriers Data

In [9]:
# Read Air Carriers Data into pandas dataframe
aircarriers_df = pd.read_csv('Resources/dot-airline-on-time-performance-statistics/Air Carriers')
aircarriers_df.head()

    Code                      Description
0  19031   Mackey International Inc.: MAC
1  19032  Munz Northern Airlines Inc.: XY
2  19033       Cochise Airlines Inc.: COC
3  19034   Golden Gate Airlines Inc.: GSA
4  19035               Aeromech Inc.: RZZ

In [10]:
# function to split Description column on the colon
def splits3(x):
    return pd.Series(x.split(": ", 1))

# apply the function
aircarriers_df[['Company', 'Prefix']] = aircarriers_df['Description'].apply(splits3)

aircarriers_df.head()

    Code                      Description                      Company Prefix
0  19031   Mackey International Inc.: MAC    Mackey International Inc.    MAC
1  19032  Munz Northern Airlines Inc.: XY  Munz Northern Airlines Inc.     XY
2  19033       Cochise Airlines Inc.: COC        Cochise Airlines Inc.    COC
3  19034   Golden Gate Airlines Inc.: GSA    Golden Gate Airlines Inc.    GSA
4  19035               Aeromech Inc.: RZZ                Aeromech Inc.    RZZ

In [11]:
# dropping old columns
aircarriers_df.drop(columns=["Description"], inplace=True)
aircarriers_df.head()

    Code                      Company Prefix
0  19031    Mackey International Inc.    MAC
1  19032  Munz Northern Airlines Inc.     XY
2  19033        Cochise Airlines Inc.    COC
3  19034    Golden Gate Airlines Inc.    GSA
4  19035                Aeromech Inc.    RZZ

In [12]:
# fix column name formatting
aircarriers_df.rename(columns={"Code": "code", "Company": "company", "Prefix": "prefix"},inplace=True,)

aircarriers_df.head()

    code                      company prefix
0  19031    Mackey International Inc.    MAC
1  19032  Munz Northern Airlines Inc.     XY
2  19033        Cochise Airlines Inc.    COC
3  19034    Golden Gate Airlines Inc.    GSA
4  19035                Aeromech Inc.    RZZ

In [13]:
#check data types for database entry
aircarriers_df.dtypes

code        int64
company    object
prefix     object
dtype: object

In [33]:
filepath2 = Path('./Updated_CSVs/aircarriers.csv')  
filepath2.parent.mkdir(parents=True, exist_ok=True)  
aircarriers_df.to_csv(filepath2)

# August 2018 Nationwide Data

In [14]:
# Read Airline Performance Nationwide Stats for August 2018
aug2018_df = pd.read_csv('Resources/dot-airline-on-time-performance-statistics/August 2018 Nationwide.csv')
aug2018_df.head()

,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,...,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 28
0,2018-08-01,19805,N956AN,1587,12478,1247805,31703,JFK,14107,1410702,...,0.0,NaN,342.0,377.0,9.0,0.0,35.0,0.0,0.0,NaN
1,2018-08-01,19805,N973AN,1588,14107,1410702,30466,PHX,11618,1161802,...,0.0,NaN,285.0,309.0,0.0,0.0,53.0,0.0,0.0,NaN
2,2018-08-01,19805,N9006,1590,11042,1104205,30647,CLE,11298,1129806,...,0.0,NaN,176.0,177.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-08-01,19805,N870NN,1591,14843,1484306,34819,SJU,11298,1129806,...,0.0,NaN,304.0,303.0,43.0,0.0,0.0,0.0,0.0,NaN
4,2018-08-01,19805,N9023N,1593,10423,1042302,30423,AUS,13303,1330303,...,0.0,NaN,173.0,175.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
aug2018_df.columns

Index(['FL_DATE', 'OP_CARRIER_AIRLINE_ID', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID',
       'ORIGIN', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY',
       'DEP_DELAY_NEW', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'CANCELLED',
       'CANCELLATION_CODE', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'Unnamed: 28'],
      dtype='object')

In [16]:
# Drop
# TAIL_NUM, ORIGIN_AIRPORT_ID, ORIGIN_AIRPORT_SEQ_ID, ORIGIN_CITY_MARKET_ID, DEST_AIRPORT_ID, DEST_AIRPORT_SEQ_ID, DEST_CITY_MARKET_ID, DEP_DELAY_NEW, ARR_DELAY_NEW, CANCELLATION_CODE, CRS_ELAPSED_TIME, ACTUAL_ELAPSED_TIME, Unnamed: 28

# Keep
# 'FL_DATE', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'

# NAS - National Airspace System
# CRS - Computer Reservation System

#  FL_DATE change to datetype

In [17]:
# new dataframe with the needed columns
newaug2018_df = aug2018_df[['FL_DATE', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME',
                            'DEP_DELAY', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']].copy()
newaug2018_df.head()

,FL_DATE,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018-08-01,19805,1587,JFK,PHX,1640,1649.0,9.0,2006.0,44.0,0.0,9.0,0.0,35.0,0.0,0.0
1,2018-08-01,19805,1588,PHX,EWR,1512,1541.0,29.0,2350.0,53.0,0.0,0.0,0.0,53.0,0.0,0.0
2,2018-08-01,19805,1590,CLE,DFW,744,741.0,-3.0,938.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2018-08-01,19805,1591,SJU,DFW,900,944.0,44.0,1347.0,43.0,0.0,43.0,0.0,0.0,0.0,0.0
4,2018-08-01,19805,1593,AUS,MIA,600,556.0,-4.0,951.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN

In [18]:
# udpate colums to all lowercase to match the other dataframes
newaug2018_df.columns = newaug2018_df.columns.str.lower()

In [19]:
newaug2018_df.head()

,fl_date,op_carrier_airline_id,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,arr_time,arr_delay,cancelled,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-08-01,19805,1587,JFK,PHX,1640,1649.0,9.0,2006.0,44.0,0.0,9.0,0.0,35.0,0.0,0.0
1,2018-08-01,19805,1588,PHX,EWR,1512,1541.0,29.0,2350.0,53.0,0.0,0.0,0.0,53.0,0.0,0.0
2,2018-08-01,19805,1590,CLE,DFW,744,741.0,-3.0,938.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2018-08-01,19805,1591,SJU,DFW,900,944.0,44.0,1347.0,43.0,0.0,43.0,0.0,0.0,0.0,0.0
4,2018-08-01,19805,1593,AUS,MIA,600,556.0,-4.0,951.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN

In [20]:
# checking data types
newaug2018_df.dtypes

fl_date                   object
op_carrier_airline_id      int64
op_carrier_fl_num          int64
origin                    object
dest                      object
crs_dep_time               int64
dep_time                 float64
dep_delay                float64
arr_time                 float64
arr_delay                float64
cancelled                float64
carrier_delay            float64
weather_delay            float64
nas_delay                float64
security_delay           float64
late_aircraft_delay      float64
dtype: object

In [21]:
# correct the date column to datetime
newaug2018_df['fl_date']= pd.to_datetime(newaug2018_df['fl_date'])
newaug2018_df.dtypes

fl_date                  datetime64[ns]
op_carrier_airline_id             int64
op_carrier_fl_num                 int64
origin                           object
dest                             object
crs_dep_time                      int64
dep_time                        float64
dep_delay                       float64
arr_time                        float64
arr_delay                       float64
cancelled                       float64
carrier_delay                   float64
weather_delay                   float64
nas_delay                       float64
security_delay                  float64
late_aircraft_delay             float64
dtype: object

In [34]:
filepath3 = Path('./Updated_CSVs/aug2018.csv')  
filepath3.parent.mkdir(parents=True, exist_ok=True)  
newaug2018_df.to_csv(filepath3)